* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.container {
  max-width: 500px;
  margin: 20px auto;
  padding: 1.5rem 0.5rem;
  border-radius: 1rem;
  background-color: #ffffff59;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(25px);
  box-shadow: 2px 3px 10px black;
}

@media (max-width: 640px) {
  .container {
    border-radius: 0;
  }
}
